#footer-items {
  display: none;
}
#footer-noitems {
  width: 100%;
  text-align: center;
}
#chosen-previews {
  position: absolute;
  left: 0px;
  list-style-type: none;
  margin-top: 5px;
}
#chosen-previews li {
  float: left;
  display: inline-block;
}
.cand-preview {
  display: block;
  width: 70px;
  height: 70px;
  background-color: #fff;
  margin-right: 20px;
}
#create-cover-btn {
  margin-top: 20px;
  position: absolute;
  right: 100px;
}
#create-profile-btn {
  margin-top: 20px;
  position: absolute;
  right: 0px;
}
