@import "../shared.less";

#picker-box {
    position: relative;
    width: 90%;
    margin-left: 5%;
}

div.picker-item {
    background-color: #fff;
    position: absolute;
    width: 30%;
    height: 250px;
    overflow: hidden;
}

.left-item {
    left: 0px;
}

.mid-item {
    .half-horiz;
}

.right-item {
    right: 0px;
}

img.picker-img {
    height: 250px;
    width: 100%;
    /*cursor:pointer;*/
    z-index: 1;
}

.picker-info {
    height: 100px;
    width: 100%;
    /*cursor:pointer;*/
    position: absolute;
    bottom: -100px;
    .blue;
}

.picker-info-btn {
    .default-btn;
    position: absolute;
    bottom: 5px;
    width: 125px;
    height: 65px;
    padding: 0px;
    font-size: 20px;
}

.picker-add-btn {
    left: 5px;
}

.picker-read-btn {
    right: 5px;
}

.picker-name {
    position: absolute;
    font-size: 20px;
    font-family: 'Railway-Bold';
    padding-top: 5px;
    left: 10px;
    top: 15px;
}

#lightContent {
    width: 700px;
    .half-horiz;
    height: 80%;
    max-height: 80%;
    top: 10%;
    overflow-x: hidden;
    .blue;
}

#cand-wedge {
    display: none;
    width: 100%;
    height: 100%;
}

#cand-wedge-img {
    position:absolute;
    left:20px;
    top:20px;
    width:200px;
    height:200px;
}

#cand-wedge-btns {
    position:absolute;
    right:20px;
    top:20px;
}

#cand-wedge-close {
    font-size:30px;
    font-family:'Railway-Bold';
    cursor:pointer;
}

.cand-wedge-circle{
    border:2px solid #fff;
    .circle(50px);
    cursor:pointer;
}

    .cand-wedge-circle:hover {
        background-color:#fff;
    }

.cand-wedge-social {
    width:40px;
    .half-vert;
}

#cand-wedge-name {
    position:absolute;
    left:240px;
    top:20px;
    font-family:'Railway-Bold';
    font-size:25px;
}

#cand-wedge-position {
    position:absolute;
    left:240px;
    top:70px;
    font-family:'Railway';
    font-size:20px;
}

#cand-wedge-actions {
    position:absolute;
    left:240px;
    top:100px;
    text-align:left;
}

#cand-wedge-content {
    position:absolute;
    top:225px;
    text-align:center;
    width:100%;
}

#cand-wedge-reasons {
    width:80%;
    margin-left:10%;
    text-align:left;
    font-size:20px;
    white-space:pre-wrap;
}