@import "../shared.less";

#picker-box {
    position:relative;
    width:90%;
    margin-left:5%;
}

div.picker-item {
    background-color:#fff;
    position:absolute;
    width:30%;
    height:250px;
    overflow:hidden;
}

.left-item {
    left:0px;
}

.mid-item {
    .half-horiz;
}

.right-item {
    right:0px;
}

img.picker-img {
    height:250px;
    width:100%;
    /*cursor:pointer;*/
    z-index:1;
}

/*div.picker-overlay {
    background-color:@item-hover-blue;
    z-index:10;
    opacity:0;
    position:absolute;
    left:0px;
    top:0px;
    height:250px;
    width:100%;
    cursor:pointer;
    color:#fff;
}*/

.picker-info {
    height:100px;
    width:100%;
    /*cursor:pointer;*/
    position:absolute;
    bottom:-100px;
    .blue;
}

    .picker-info:hover {
        /*background-color:@darkblue-color;
        color:#fff;*/
    }

.picker-info-btn {
    .default-btn;
    position:absolute;
    bottom:5px;
    width:125px;
    height:65px;
    padding:0px;
    font-size:20px;
}

.picker-add-btn {
    left:5px;
}

.picker-read-btn {
    right:5px;
}

.picker-name {
    position:absolute;
    font-size:20px;
    font-family:'Railway-Bold';
    padding-top:5px;
    left:10px;
    top:15px;
}