@{
    ViewBag.Title = "Create Cover Photo";
}

@section Styles {
    @Styles.Render("~/Content/Styles/Bundles/Layouts/layout.less")
    <style type="text/css">
        .canvas-container {
            margin: 0 auto;
        }
    </style>
}
<!-- So this is just a copy/paste of Profile.cshtml, should make a layout/partial for this instead -->

<h1>Create Cover Photo</h1>

<canvas id="profile-pic" style="border:2px solid #000;"></canvas>
<button id="save-img" class="default-btn standard-btn" style="margin-top:10px;">Download Image</button><br />
<button id="reset-img" class="default-btn standard-btn" style="margin-top:5px;">Reset Image</button>

@section Scripts {
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.4.0/fabric.min.js"></script>
    <script src="~/Content/Scripts/FileSaver/Blob.js"></script>
    <script src="~/Content/Scripts/FileSaver/canvas-toBlob.js"></script>
    <script src="~/Content/Scripts/FileSaver/FileSaver.js"></script>
    <script src="~/Content/Scripts/FileSaver/Modernizr.js"></script>
    <script type="text/javascript">
        //Thanks! http://stackoverflow.com/questions/280634/endswith-in-javascript
        String.prototype.endsWith = function (suffix) {
            return this.indexOf(suffix, this.length - suffix.length) !== -1;
        };
        var fab = new fabric.Canvas('profile-pic');
        fab.setDimensions({ width: 851, height: 315 });
        //Thanks! http://stackoverflow.com/questions/21385398/canvas-rectangles-snap-to-grid-snap-to-objects
        var grid = 17.02;
        //Snap to Grid
        fab.on('object:moving', function (options) {
            options.target.set({
                left: Math.round(options.target.left / grid) * grid,
                top: Math.round(options.target.top / grid) * grid
            });
        });
        fab.on('object:scaling', function (options) {
            options.target.set({
                left: Math.round(options.target.left / grid) * grid,
                top: Math.round(options.target.top / grid) * grid
            });
        });
        //Thanks! http://stackoverflow.com/questions/15089839/fabric-js-how-to-center-canvas
        $(".canvas-container").css("margin", "0 auto");
        $("#reset-img").click(function () {
            $.getJSON("/API/Chosen", function (data) {
                fab.clear();
                for (var i = 0; i < data.length; i++) {
                    fabric.Image.fromURL(data[i].profilePic, function (oImg) {
                        var index = 0;
                        for (var z = 0; z < data.length; z++) {
                            if (oImg.getSrc().endsWith(data[z].profilePic)) {
                                index = z;
                                break;
                            }
                        }
                        oImg.setWidth(170.6);
                        oImg.setHeight(170.6);
                        oImg.setLeft(170.6 * (index % 5));
                        //0 -> 0 (0 * .5 = 0, rounds down to 0)
                        //1 -> 0 (1 * .5 = .5, rounds down to 0)
                        //2 -> 1 (2 * .5 = 1, rounds down to 1)
                        //3 -> 1 (3 * .5 = 1.5, rounds down to 1)
                        //4 -> 2, etc.
                        oImg.setTop(170.6 * Math.floor(index * .2));
                        if (index >= 10) { //just layer all other images in the center
                            oImg.setTop(157.5);
                            oImg.setLeft(425.5);
                        }
                        fab.add(oImg);
                    });
                }
            });
        });
        $("#reset-img").click();
        var canvas = document.getElementById('profile-pic');
        var fileSaver = true;
        function handleCompat() {
            if ((!fileSaver || !Modernizr.canvas) && window.location.href.indexOf("bypassCompat") == -1) {
                alert("Sorry, this probably won't work");
            }
        }
        try {
            canvas.toBlob(function (blob) {
                fileSaver = blob != undefined;
                handleCompat();
            });
        } catch (e) { fileSaver = false; handleCompat(); }

        $("#save-img").click(function () {
            fab.discardActiveObject();
            canvas.toBlob(function (blob) {
                saveAs(blob, "cover.png");
            });
        });
    </script>
}