@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>LHSCampaign</title>
    <link href="~/Content/Styles/Site/create.css" rel="stylesheet" />
</head>
<body>
    <header>
        <a style="border: none;" href="~/"><img src="~/Content/Images/logo.blue.png" alt="lhs|campaign" id="logo" /></a>
        @*<a href="~/SignUp">about</a>*@
    </header>

    <h1>Create Profile Picture</h1>

    <canvas id="profile-pic" style="border: 2px solid #000;"></canvas>
    <button id="save-img">Download Image</button>
    <button id="reset-img">Reset Image</button>


    <script src="~/Content/Scripts/jQuery/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/fabric.js/1.4.13/fabric.min.js"></script>
    <script src="~/bundles/filesaver"></script>
    <script type="text/javascript">
        //Thanks! http://stackoverflow.com/questions/280634/endswith-in-javascript
        String.prototype.endsWith = function(suffix) {
            return this.indexOf(suffix, this.length - suffix.length) !== -1;
        };
        var fab = new fabric.Canvas('profile-pic');
        var size = 400;
        fab.setDimensions({ width: size, height: size });
        fab.on('mouse:down', function(options) {
            if (options.target) {
                fab.bringToFront(options.target);
            }
        });
        //Thanks! http://stackoverflow.com/questions/21385398/canvas-rectangles-snap-to-grid-snap-to-objects
        var grid = 25;
        //Snap to Grid
        fab.on('object:moving', function(options) {
            options.target.set({
                left: Math.round(options.target.left / grid) * grid,
                top: Math.round(options.target.top / grid) * grid
            });
        });
        fab.on('object:scaling', function(options) {
            options.target.set({
                left: Math.round(options.target.left / grid) * grid,
                top: Math.round(options.target.top / grid) * grid
            });
        });
        //Thanks! http://stackoverflow.com/questions/15089839/fabric-js-how-to-center-canvas
        $(".canvas-container").css("margin", "0 auto");

        $.cookie.json = true;
        function getSelected() {
            var selected = $.cookie("selected-attendees");
            if (typeof selected === "undefined") {
                setSelected([]);
                return [];
            }
            return selected;
        }

        $("#reset-img").click(function () {
            var selected = getSelected();
            fab.clear();

            if (selected.length === 1) {
                fabric.Image.fromURL(selected[0]["img"], function (oImg) {
                    oImg.setWidth(size);
                    oImg.setHeight(size);
                    fab.add(oImg);
                });
            } else {
                for (var i = 0; i < selected.length; i++) {
                    fabric.Image.fromURL(selected[i]["img"], function (oImg) {
                        var index = 0;
                        for (var z = 0; z < selected.length; z++) {
                            if (oImg.getSrc().endsWith(selected[z]["img"])) {
                                index = z;
                                break;
                            }
                        }
                        oImg.setWidth(size / 2);
                        oImg.setHeight(size / 2);
                        oImg.setLeft((size / 2) * (index % 2));
                        //0 -> 0 (0 * .5 = 0, rounds down to 0)
                        //1 -> 0 (1 * .5 = .5, rounds down to 0)
                        //2 -> 1 (2 * .5 = 1, rounds down to 1)
                        //3 -> 1 (3 * .5 = 1.5, rounds down to 1)
                        //4 -> 2, etc.
                        oImg.setTop((size / 2) * Math.floor(index * .5));
                        if (index >= 4) { //just layer all other images in the center
                            oImg.setTop((size - (size / 2)) / 2);
                            oImg.setLeft((size - (size / 2)) / 2);
                        }
                        fab.add(oImg);
                    });
                }
            }
        });
        $("#reset-img").click();
        var canvas = document.getElementById('profile-pic');
        var fileSaver = true;

        function handleCompat() {
            if ((!fileSaver || !Modernizr.canvas) && window.location.href.indexOf("bypassCompat") == -1) {
                alert("Sorry, this probably won't work");
            }
        }

        try {
            canvas.toBlob(function(blob) {
                fileSaver = blob != undefined;
                handleCompat();
            });
        } catch (e) {
            fileSaver = false;
            handleCompat();
        }

        $("#save-img").click(function() {
            fab.discardActiveObject();
            canvas.toBlob(function(blob) {
                saveAs(blob, "profile.png");
            });
        });
    </script>
</body>
</html>