@model LHSCampaign.Models.RegisterViewModel
@{
    ViewBag.Title = "LHSCampaign - Register";
    Layout = null;
    var Freshmen = false;
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/Content/Styles/Site/register.css" />
    <title>LHSCampaign - Register</title>
    <script src="~/Content/Scripts/jQuery/jquery-1.10.2.min.js"></script>
</head>
<body>
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", id = "login-form", style = "display:none;" }))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="UserName" value="" id="login-usernm" />
        <input type="hidden" name="Password" value="" id="login-pass" />
    }

    <header>
        <a href="~/" style="border:none;"><img src="~/Content/Images/logo.blue.png" alt="lhs|campaign" /></a>
    </header>

    <main>
        <h2>candidate sign up</h2>
        <a href="~/Account/LogIn" id="sign-up">have an account? log in</a>
        <br/>

        <label for="username">username</label>
        <input type="text" id="username" />

        <div id="usernm-err" class="err-text"></div>

        <script type="text/javascript">
            $("#username").change(function () {
                var nm = $(this).val();
                if (nm != "") {
                    $.post("/API/Account/CheckName", {
                        username: nm
                    }, function (data) {
                        if (data.toLowerCase() == 'exists') {
                            $("#usernm-err").text("That username is already taken.");
                            $("#usernm-err").show();
                        } else {
                            $("#usernm-err").hide();
                        }
                    });
                } else {
                    $("#usernm-err").text("Please enter a username.");
                    $("#usernm-err").show();
                }
            });
        </script>

        <label for="fullname">full name</label>
        <input type="text" id="fullname" />

        <label for="pass">password</label>
        <input type="password" id="pass" />

        <label for="pass-conf">confirm password</label>
        <input type="password" id="pass-conf" />

        <div id="password-err" class="err-text"></div>

        <script type="text/javascript">
            //Thanks! http://stackoverflow.com/questions/10438369/jquery-on-change-input-text
            $("#pass, #pass-conf").on('keyup', function () {
                if ($("#pass").val() != $("#pass-conf").val()) {
                    $("#password-err").html("Your password doesn't match the confirmation");
                    $("#password-err").show();
                } else if ($("#pass").val().length < 7 && $("#pass").val().length > 0) {
                    $("#password-err").html("Please enter a password greater than 6 characters");
                    $("#password-err").show();
                } else {
                    $("#password-err").hide();
                }
            });
        </script>

        <label for="email">email</label>
        <input type="email" id="email" />

        <div id="email-err" class="err-text"></div>

        @if (!Freshmen)
        {
            <label for="year-picker">class</label>
            <div id="year-picker">
                <div data-year="2018">2018</div>
                <div data-year="2019">2019</div>
                <div data-year="2020">2020</div>
            </div>
        }
        else
        {
            <label for="year-picker">middle school</label>
            <div id="year-picker">
                <div data-year="0" style="width: 45%;">Miller</div>
                <div data-year="1" style="width: 45%;">Other Schools</div>
            </div>
        }

        <button id="register">SIGN UP</button>

            @*<p id="afterwards">We'll send you an email within 24 hours to activate your campaign account. This is to avoid spammers.</p>*@

        <h2>Please note - this form does not work on the archive</h2>
    </main>

    <script type="text/javascript">
        $("#year-picker div").click(function () {
            $("#year-picker div").removeClass("selected");
            $(this).addClass("selected");
        });

        $("#register").click(function () {
            var username = $("#username").val();
            var pass = $("#pass").val();
            var conf = $("#pass-conf").val();
            var email = $("#email").val();
            var year = $("#year-picker .selected");
            if (year.length == 0) {
                alert("Please select a school!");
                return;
            } else {
                year = parseInt(year.attr("data-year"));
            }

            var position = "secretary";
            var fullName = $("#fullname").val();

            if (pass != conf) {
                $("#password-err").html("Your password doesn't match the confirmation");
                $("#password-err").show();
            }
            else if (email == null || email.trim() == "") {
                $("#email-err").html("An email is required for candidates");
                $("#email-err").show();
            }
            else {
                $.post("/API/Account/Register", {
                    "Username": username,
                    "Password": pass,
                    "Email": email,
                    "Year": year,
                    "Position": position,
                    "FullName": fullName
                }, function (data) {
                    if (data.indexOf("GOOD") != -1) {
                        $("#login-form").show();
                        $("#login-usernm").val(username);
                        $("#login-pass").val(pass);
                        $("#login-form").submit();
                    }
                    else if (data.indexOf("Username") != -1) {
                        $("#usernm-err").text("That username is already taken.");
                        $("#usernm-err").show();
                    }
                    else if (data.indexOf("Password") != -1) {
                        $("#password-err").text("Please enter a password greater than 6 characters");
                        $("#password-err").show();
                    }
                });
            }
        });
    </script>
</body>
</html>
