@using Microsoft.AspNet.Identity
@model LHSCamp.Models.ManageUserViewModel
@using (Html.BeginForm("ModifyEmail", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Change Email</h4>
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.TextBoxFor(m => m.Email, new { @class = "form-control default-input standard-input", placeholder = "email" })

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Change email" class="btn btn-default" />
        </div>
    </div>
}
