@model LHSCamp.Models.RegisterViewModel
@{
    ViewBag.Title = "LHSCampaign - Register";
    Layout = "~/Views/Shared/_HeroLayout.cshtml";
}
@section Styles {
    @Styles.Render("~/Content/Styles/Bundles/Prelogin/register.less")
}
<div class="blue row medium-font" style="margin-top:100px;margin-bottom:100px;">
    <div class="logo-span large-font"><b>lhs</b>|campaign</div>
    <br />
    <!-- Background login form, to login after registration -->
    <form action="~/Account/Login" method="POST" id="login-form" style="display:none;">
        @Html.AntiForgeryToken()
        <input type="hidden" name="UserName" value="" id="login-usernm" />
        <input type="hidden" name="Password" value="" id="login-pass" />
    </form>
    <!-- Registration Form -->
    <div id="local-register" style="border-top:2px solid #fff;">
        <br />
        <span class="large-font railway-bold">signup</span>
        <br />
        <span class="railway-light" style="margin-top:20px;">This campaign season, which are you?</span>
        <br />
        <button class="default-btn register-link sel-btn" style="margin-right:5px;margin-top:20px;">voter</button>
        <button class="default-btn register-link" style="margin-left:5px;margin-top:20px;">candidate</button>
        <script type="text/javascript">
            var isCand = false;
            $(".register-link").click(function () {
                $(".register-link").removeClass("sel-btn");
                $(this).addClass("sel-btn");
                if ($(this).text() == "voter") {
                    isCand = false;
                    $(".cand-only").fadeOut();
                }
                else {
                    isCand = true;
                    $(".cand-only").fadeIn();
                }
            });
        </script>
        <br/>
        <input type="text" class="default-input standard-input" placeholder="username" id="username" style="margin-top:20px;" />
        <div class="medium-font railway-light" id="usernm-err" style="display:none;margin-top:10px;"></div>
        <script type="text/javascript">
            $("#voter-username").change(function () {
                var nm = $(this).val();
                if (nm != "") {
                    $.post("/API/Account/CheckName", {
                        Username: nm
                    }, function (data) {
                        if (data.toLowerCase() == 'exists') {
                            $("#usernm-err").text("That username is already taken.");
                            $("#usernm-err").show();
                        }
                        else {
                            $("#usernm-err").hide();
                        }
                    });
                }
                else {
                    $("#usernm-err").text("Please enter a username.");
                    $("#usernm-err").show();
                }
            });
        </script>
        <br class="cand-only" />
        <input type="text" class="default-input standard-input cand-only" placeholder="full name" id="fullname" />
        <br />
        <input type="password" class="default-input standard-input" placeholder="password" id="pass" />
        <br />
        <input type="password" class="default-input standard-input" placeholder="confirm password" id="pass-conf" />
        <div class="medium-font railway-light" id="password-err" style="display:none;margin-top:10px;"></div>
        <script type="text/javascript">
            //Thanks! http://stackoverflow.com/questions/10438369/jquery-on-change-input-text
            $("#pass,#pass-conf").on('keyup', function () {
                if ($("#pass").val() != $("#pass-conf").val()) {
                    $("#password-err").html("Your password doesn't match the confirmation");
                    $("#password-err").show();
                }
                else if ($("#pass").val().length < 7) {
                    $("#password-err").html("Please enter a password greater than 6 characters");
                    $("#password-err").show();
                }
                else {
                    $("#password-err").hide();
                }
            });
        </script>
        <br />
        <input type="email" class="default-input standard-input" placeholder="email (optional)" id="email" />
        <br />
        <!-- Meh. I'll fix this weird width stuff later -->
        <button class="default-btn standard-btn year-picker" val="2016" style="width:164px;">2016</button>
        <button class="default-btn standard-btn year-picker sel-btn" val="2017" style="width:164px;">2017</button>
        <br />
        <div style="position:relative;width:333px;" class="half-horiz cand-only">
            <select id="position" class="default-input standard-input" style="margin-top:20px;width:333px;height:50px;padding-right:-50px;">
                <option>Secretary</option>
                <option>Treasurer</option>
                <option>President</option>
                <option>Vice President</option>
            </select>
            <div id="arrow-hider" style="position:absolute;width:30px;height:46px;right:2px;top:22px;background-color:#44A0C8;border-radius:2px;"></div>
        </div>
        <br/>
        <button class="default-btn standard-btn" id="register" style="width:333px;margin-top:10px;">sign up</button>
        <p class="cand-only half-horiz" style="width:400px;position:relative;">We'll send you an email within 24 hours to activate your campaign account. This is to avoid spammers.</p>
        <script type="text/javascript">
            $(".year-picker").click(function () {
                $(".year-picker").removeClass("sel-btn");
                $(this).addClass("sel-btn");
            });
            $("#register").click(function () {
                var username = $("#username").val();
                var pass = $("#pass").val();
                var conf = $("#pass-conf").val();
                var email = $("#email").val();
                var year = 2017;
                var position = $("#position").val();
                var fullName = $("#fullname").val();
                if (!isCand) {
                    position = null;
                    fullName = null;
                }
                $(".year-picker").each(function (index, value) {
                    if ($(this).hasClass("sel-btn")) {
                        year = parseInt($(this).text());
                    }
                });
                //Someday I'll figure out jqueryval, for now I'll just do this
                if (pass != conf) {
                    $("#password-err").html("Your password doesn't match the confirmation");
                    $("#password-err").show();
                }
                else {
                    $.post("/API/Account/Register", {
                        "Username": username,
                        "Password": pass,
                        "Email": email,
                        "Year": year,
                        "Position": position,
                        "FullName": fullName
                    }, function (data) {
                        if (data.indexOf("GOOD") != -1) {
                            $("#login-form").show();
                            $("#login-usernm").val(username);
                            $("#login-pass").val(pass);
                            $("#login-form").submit();
                        }
                        else if (data.indexOf("Username") != -1) {
                            $("#usernm-err").text("That username is already taken.");
                            $("#usernm-err").show();
                        }
                        else if (data.indexOf("Password") != -1) {
                            $("#password-err").html("Please enter a password greater than 6 characters");
                            $("#password-err").show();
                        }
                    });
                }
            });
        </script>
    </div>
</div>