@{
    ViewBag.Title = "Reset Your Password";
    Layout = "~/Views/Shared/_HeroLayout.cshtml";
}


<div class="blue row medium-font" style="margin-top:100px;">
    <div class="logo-span large-font"><b>lhs</b>|campaign</div>
    <br />
    <div style="border-top:2px solid #fff;">
        <br />
        <div id="reset-form">
            <span class="large-font railway-bold">reset password</span>
            <br />
            <div id="reset-info">
                Please enter a new password for your account.
            </div>
            <div id="reset-error">
                Sorry, something went wrong. Please try again.
            </div>
            <br /><br />
            <input type="password" id="pass" placeholder="password" class="default-input standard-input" />
            <br/>
            <input type="password" id="pass-conf" placeholder="confirm password" class="default-input standard-input" />
            <div class="medium-font railway-light" id="password-err" style="display:none;margin-top:10px;"></div>
            <script type="text/javascript">
                //Thanks! http://stackoverflow.com/questions/10438369/jquery-on-change-input-text
                $("#pass,#pass-conf").on('keyup', function () {
                    if ($("#pass").val() != $("#pass-conf").val()) {
                        $("#password-err").html("Your password doesn't match the confirmation");
                        $("#password-err").show();
                    }
                    else if ($("#pass").val().length < 7) {
                        $("#password-err").html("Please enter a password greater than 6 characters");
                        $("#password-err").show();
                    }
                    else {
                        $("#password-err").hide();
                    }
                });
            </script>
            <br />
            <button id="reset-pass" class="default-btn default-btn">reset password</button>
        </div>
        <div id="reset-success" style="display:none;">
            <h1>Great, your password has been reset!</h1>
            You can now <a href="~/Account/Login" class="nunderline">login with your new password.</a>
            <br/><br/>
            Sending you there in 3...2...1...
        </div>
        <script type="text/javascript">
            $("#reset-pass").click(function () {
                var token = "@(ViewBag.Token)";
                var userId = "@(ViewBag.UserId)";
                var pass = $("#pass").val();
                var passConf = $("#pass-conf").val();
                if (pass != passConf) {
                    $("#password-err").html("Your password doesn't match the confirmation");
                    $("#password-err").show();
                }
                else if (pass.length < 7) {
                    $("#password-err").html("Please enter a password greater than 6 characters");
                    $("#password-err").show();
                }
                else {
                    $.post("/API/Account/ResetPass", {
                        "userId": userId,
                        "token": token,
                        "password": pass
                    }, function (data) {
                        if (data == "set") {
                            $("#reset-form").fadeOut(function () {
                                $("#reset-success").fadeIn();
                                settimeout(function () {
                                    window.location.href = "/Account/Login";
                                }, 1000);
                            });
                        }
                        else {
                            $("#reset-info").fadeOut(function () {
                                $("#reset-error").fadeIn();
                            });
                        }
                    });
                }
            });
        </script>
    </div>
</div>