body,
html {
  width: 100%;
  margin: 0px;
  font-family: 'Railway';
}
.half-horiz {
  position: relative;
  left: 50%;
  /* but ewe. should use prefix-free */
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.half-vert {
  position: relative;
  /* Thanks! http://creative-punch.net/2014/01/center-vertically-horizontally-using-css3-transform/ */
  top: 50%;
  /* but ewe. should use prefix-free */
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.blue {
  background-color: #44a0c8;
  color: #fff;
}
.white {
  background-color: #fff;
  color: #44a0c8;
}
.red {
  color: #ff0000;
}
.small-font {
  font-size: 20px;
}
.medium-font {
  font-size: 25px;
}
.large-font {
  font-size: 40px;
}
.default-btn,
.blue-btn {
  background-color: #44a0c8;
  color: #fff;
  width: 250px;
  height: 50px;
  font-size: 25px;
  border: 2px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Railway-light';
}
.default-btn:hover {
  background-color: #fff;
  color: #44a0c8;
  border-radius: 5px;
}
.white-btn {
  background-color: #fff;
  color: #44a0c8;
}
.white-btn:hover {
  background-color: #44a0c8;
  color: #fff;
}
.default-input {
  background-color: #44a0c8;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  width: 250px;
  height: 40px;
  font-size: 25px;
}
.standard-input {
  width: 325px;
  font-family: 'Railway-light';
  margin-bottom: 10px;
  text-align: center;
}
.link {
  cursor: pointer;
}
.nunderline {
  text-decoration: none;
  color: #fff;
}
#header {
  height: 75px;
  text-align: left;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  line-height: 75px;
  background-color: #44a0c8;
  color: #fff;
}
#header-cont {
  position: relative;
  width: 80%;
  left: 10%;
}
#header-nav {
  list-style-type: none;
  position: absolute;
  top: 0px;
  margin-top: 0px;
  right: 0px;
  font-size: 25px;
  cursor: pointer;
  height: 30px;
  line-height: 30px;
  margin-top: 22.5px;
}
#header-nav li {
  float: left;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  border-right: 2px solid #fff;
}
#content {
  background-color: #fff;
  color: #44a0c8;
  margin-top: 75px;
  text-align: center;
  font-size: 25px;
}
#footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 80px;
  background-color: #44a0c8;
  color: #fff;
}
#footer-cont {
  position: relative;
  width: 80%;
  left: 10%;
}
#content {
  padding-bottom: 100px;
}
#footer-items {
  display: none;
}
#footer-noitems {
  width: 100%;
  text-align: center;
}
#chosen-previews {
  position: absolute;
  left: 0px;
  list-style-type: none;
  margin-top: 5px;
}
#chosen-previews li {
  float: left;
  display: inline-block;
}
.cand-preview {
  display: block;
  width: 70px;
  height: 70px;
  background-color: #fff;
  margin-right: 20px;
  cursor: pointer;
}
.create-img-btn {
  height: 80px;
  padding-top: 20px;
  position: absolute;
  width: 100px;
  text-align: center;
}
.create-img-btn:hover {
  background-color: #40809c;
}
#create-cover-btn {
  right: 100px;
}
#create-profile-btn {
  right: 0px;
}
