
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/Fonts/Railway/Railway-font.css")
    <title>LOL</title>
</head>
<body style="text-align:center;background-color:#44A0C8;color:#fff;font-size:50px;" class="railway-light">
    <h2 style="margin-bottom:0px;">Google Plus?</h2>
    <h2 class="railway-bold" style="margin-top:20px;margin-bottom:10px;">LOL</h2>
    <h2 style="margin-top:0px;">good one.</h2>
    <img src="~/Content/Images/Default/GPlus.jpg" style="height:500px;" />
</body>
</html>
