
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/Fonts/Railway/Railway-font.css")
    <title>LOL</title>
</head>
<body style="text-align:center;background-color:#44A0C8;color:#fff;font-size:40px;" class="railway-light">
    <h3 style="margin-bottom:0px;margin-top:5px;">Google Plus?</h3>
    <h3 class="railway-bold" style="margin-top:0px;margin-bottom:0px;">LOL</h3>
    <h3 style="margin-top:0px;margin-bottom:5px;">good one.</h3>
    <img src="~/Content/Images/Default/GPlus.jpg" style="height:400px;" />
</body>
</html>
