@{
    ViewBag.Title = "Candidate";
}
@section Styles {
    @Styles.Render("~/Content/Styles/Site/Layout/tab-box.less")
    <style type="text/css">
        .picker-page {
            display: none;
        }
    </style>
}
<div style="position:relative;width:80%;left:10%;">
    <h1>Welcome to LHS Campaign!</h1>

    <span>
        We'll run through a few quick questions to get your candidate account set up.
        Once you're verified (which may take up to 24 hours),
        you'll be allowed to upload your profile image and be featured on LHS Campaign.
    </span>

    <ul class="tabs-list" style="width:100%;">
        <li class="tab sel-tab" data-picker-page="email"><div>1. EMAIL</div></li>
        <li class="tab" data-picker-page="points"><div>2. CAMPAIGN INFO</div></li>
        <li class="tab" data-picker-page="picture"><div>3. PROFILE PICTURE</div></li>
    </ul>
    <div class="tab-box">
        <div id="picker-page-email" class="picker-page sel-page" style="display:block;">
            Candidates must have a verified email before getting started.
            <br />
            @if (string.IsNullOrWhiteSpace(ViewBag.Email))
            {
                @:Please enter an email below:
                <br />
                <input type="email" id="email-input" class="default-input standard-input" placeholder="email" style="width:400px;" />
                <br />
                <input type="submit" value="Confirm" id="update-email" class="default-btn standard-btn" />
            }
            else
            {
                @:If you want to make changes to your email, make them below:
                <br />
                <input type="email" id="email-input" class="default-input standard-input" value="@(ViewBag.Email)" style="width:400px;" />
                <br />
                <input type="submit" value="Update" id="update-email" class="default-btn standard-btn" />
            }
            <br />
            We'll contact you within 24 hours to confirm your email and give you a rundown of the final step before you're listed as a candidate.
        </div>
        <div id="picker-page-points" class="picker-page">
            What are some of your main campaign points?
            <br />
            NOTE: This isn't implemented yet, click the PROFILE PICTURE tab to upload a picture.
        </div>
        <div id="picker-page-picture" class="picker-page">
            @if (ViewBag.Confirmed)
            {
                <form action="~/Welcome/UploadProfile" method="POST" enctype="multipart/form-data">
                    <input type="file" name="file" />
                    <br />
                    <input type="submit" value="Upload" class="default-btn standard-btn" />
                </form>
            }
            else
            {
                <h2>Your account must be confirmed before you can upload a photo. You should get an email from someone on the team within 24 hours confirming your account.</h2>
            }
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        $(".tab").click(function () {
            $(".tab").removeClass("sel-tab");
            $(this).addClass("sel-tab");
            var page = $(this).attr("data-picker-page");
            $(".sel-page").fadeOut(function () {
                $("#picker-page-" + page).fadeIn();
                $("#picker-page-" + page).addClass("sel-page");
            });
        });

        $("#update-email").click(function () {
            var email = $("#email-input").val();
            $.post("/API/Account/SetEmail", {
                "email": email
            }, function (data) {
                if (data == "set") {
                    $("[data-picker-page=points]").click();
                }
            });
        });
    </script>
}