@{
    ViewBag.Title = "Candidate";
}
@section Styles {
    @Styles.Render("~/Content/Styles/Site/Home/picker.less")
    <style type="text/css">
        .picker-page {
            display: none;
        }
    </style>
}
<div style="position:relative;width:80%;left:10%;">
    <h1>Welcome to LHS Campaign!</h1>

    <span>
        We'll run through a few quick questions to get your candidate account set up.
        Once you're verified (which may take up to 24 hours),
        you'll be allowed to upload your profile image and be featured on LHS Campaign.
    </span>

    <ul id="picker-tabs" style="width:100%;">
        <li class="picker-tab sel-tab" data-picker-page="points"><div>CAMPAIGN POINTS</div></li>
        <li class="picker-tab" data-picker-page="email"><div>EMAIL</div></li>
        <li class="picker-tab" data-picker-page="picture"><div>PROFILE PICTURE</div></li>
    </ul>
    <div id="picker-container">
        <div id="picker-page-points" class="picker-page sel-page" style="display:block;">
            What are some of your main campaign points?
            <br/>
            NOTE: This isn't implemented yet, click the PROFILE PICTURE tab to upload a picture.
        </div>
        <div id="picker-page-email" class="picker-page">
            Sorry, you're not a validated user yet.
        </div>
        <div id="picker-page-picture" class="picker-page">
            <form action="~/Welcome/UploadProfile" method="POST" enctype="multipart/form-data">
                <input type="file" name="file" />
                <br/>
                <input type="submit" value="Upload" class="default-btn standard-btn" />
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        $(".picker-tab").click(function () {
            $(".picker-tab").removeClass("sel-tab");
            $(this).addClass("sel-tab");
            var page = $(this).attr("data-picker-page");
            $(".sel-page").fadeOut();
            $("#picker-page-" + page).fadeIn();
            $("#picker-page-" + page).addClass("sel-page");
        });
    </script>
}