.blue {
  background-color: #44a0c8;
  color: #fff;
}
.white {
  background-color: #fff;
  color: #44a0c8;
}
.small-font {
  font-size: 20px;
}
.medium-font {
  font-size: 25px;
}
.large-font {
  font-size: 40px;
}
.default-btn,
.blue-btn {
  background-color: #44a0c8;
  color: #fff;
  width: 250px;
  height: 50px;
  font-size: 25px;
  border: 2px solid #fff;
  border-radius: 5px;
}
.default-btn:hover {
  background-color: #fff;
  color: #44a0c8;
  border-radius: 5px;
}
.link {
  cursor: pointer;
}
.row {
  position: relative;
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
}
.half-vert {
  /* Thanks! http://creative-punch.net/2014/01/center-vertically-horizontally-using-css3-transform/ */
  top: 50%;
  /* but ewe. should use prefix-free */
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.half-horiz {
  left: 50%;
  /* but ewe. should use prefix-free */
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.info-box {
  display: block;
  width: 250px;
  text-align: center;
}
div.info-bubble {
  height: 250px;
  width: 250px;
  border-radius: 125px;
}
.info-bubble img {
  width: 125px;
  position: relative;
  /* Thanks! http://creative-punch.net/2014/01/center-vertically-horizontally-using-css3-transform/ */
  top: 50%;
  /* but ewe. should use prefix-free */
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
