@import url(http://fonts.googleapis.com/css?family=Lato:400,700,300,900);
html, body {
    margin: 0;
    font-family: "Lato", sans-serif;
}

header {
    width: 800px;
    margin: 0 auto;
    height: 75px;
    line-height: 75px;
    top: 0;
    left: 0;
    position: relative;
}
    header ul {
        position: absolute;
        left: 280px;
        top: 0;
        height: 75px;
        line-height: 75px;
        margin: 0;
    }
        header ul li {
            float: left;
            list-style-type: none;
            cursor: pointer;
        }
            header ul li a {
                color: currentColor;
                text-decoration: none;
                display: inline-block;
            }
            header ul li:after {
                content: "/";
                padding: 0 10px;
                color: #000;
                cursor: default;
            }
            header ul li:last-child:after {
                display: none;
            }
        header ul li.selected {
            color: #1394ee;
        }

    header > a {
        float: right;
        margin-left: 25px;
        color: #1394ee;
        text-decoration: none;
    }
    header img,
    header > a:first-child {
        height: 40px;
        margin-top: 15px;
        float: left;
    }

#position-tabs {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 800px;
    margin: 0 auto;
    display: flexbox;
    display: flex;
    padding: 0;
    border-top: 2px solid #dadada;
    border-bottom: 2px solid #dadada;
    margin-top: 10px;
}
    #position-tabs div {
        flex: 1;
        font-size: 15px;
        text-align: center;
        color: #dadada;
        cursor: pointer;
        padding: 10px 0;
        position: relative;
    }
        #position-tabs .selected {
            color: #1394ee;
        }
        #position-tabs div span {
            display: inline-block;
            margin: 0;
            position: absolute;
            bottom: -25px;
            left:0;
            width: 100%;
        }


.tab-content {
    width: 800px;
    margin: 30px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /*display: none;*/
}
    .tab-content[data-tab="no-peeps"] h1 {
        margin-top: 75px;
    }
    .tab-content:first-child,
    .tab-content.selected {
        display: block;
    }
    .tab-content .candidate {
        width: 175px;
        text-align: center;
        margin: 0 5px;
        position: relative;
    }
        .tab-content img {
            width: 100%;
            display: block;
            height: 175px;
        }
        .tab-content .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 175px;
            height: 175px;
            display: block;
            background-color: transparent;
            opacity: 0;
            transition: all 0.2s linear;
        }
        .tab-content .hover-container:hover .overlay {
            opacity: 1;
            background-color: rgba(19, 148, 238, 0.9);
        }
        .overlay a {
            width: 150px;
            padding: 15px 0;
            margin: 5px 0;
            display: inline-block;
            background-color: #fff;
            color: #1394ee;
            text-decoration: none;
            cursor: pointer;
        }

        .tab-content p {
            display: none;
        }
        .tab-content h1 {
            font-size: 15px;
            color: #1394ee;
        }

footer {
    width: 100%;
    height: 75px;
    position: fixed;
    left: 0;
    bottom: 0;
    border-top: 1px solid #dadada;
    background-color: #fff;
}
    body {
        padding-bottom: 50px;
    }
    #selected-people img {
        height: 60px;
        margin-top: 7.5px;
        float: left;
        margin-left: 10px;
        cursor: pointer;
    }
    footer a {
        float: right;
        height: 75px;
        line-height: 75px;
        margin-right: 15px;
        text-decoration: none;
        color: #1394ee;
    }

#welcome-popup {
    background-color: #fff;
    width: 600px;
    padding: 30px;
    display: none;
}
    #welcome-popup h1 {
        margin: 0;
        font-weight: 400;
    }
    #welcome-popup a {
        width: 150px;
        padding: 15px 0;
        margin: 5px 0;
        display: inline-block;
        background-color: #1394ee;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        transition: background-color 0.1s linear;
    }
        #welcome-popup a:hover {
            background-color: #1683cf;
        }

    #class-options a {
        padding: 10px 0;
        width: 100px;
        margin: 10px 10px 25px;
        border: 1px solid #1394ee;
        background-color: #fff;
        color: #1394ee;
    }
        #class-options a:hover {
            background-color: #1394ee;
            color: #fff;
        }

#unopposed-popup {
    display: none;
}

#totally-unopposed {
    margin-top: 75px;
    display: block;
    text-align: center;
}
    #totally-unopposed ul {
        text-align: left;
        width: 210px;
        margin: 25px auto;
    }
        
[class*=confetti] {
    position: absolute;
    height: 6px;
    width: 6px;
    opacity: 0.4;
    -webkit-animation-iteration-count: infinite;
}
[class*=confetti]:nth-child(odd) {
    -webkit-animation-duration: 0.4s;
    -webkit-animation-name: confetti1;
}
[class*=confetti]:nth-child(even) {
    -webkit-animation-duration: 0.6s;
    -webkit-animation-name: confetti2;
}
@-webkit-keyframes confetti1 {
    0% {
    }
    50% {
        -webkit-transform: translateX(3px) rotateX(90deg) rotateY(45deg);
    }
    100% {
        -webkit-transform: rotateX(180deg) rotateY(45deg);
    }
}
@-webkit-keyframes confetti2 {
    0% {
    }
    50% {
        -webkit-transform: translateX(-3px) rotateY(90deg) rotateX(45deg);
    }
    100% {
        -webkit-transform:rotateY(180deg) rotateX(45deg);
    }
}