@import url(http://fonts.googleapis.com/css?family=Lato:400,700,300,900);
html, body {
    margin: 0;
    font-family: "Lato", sans-serif;
}

header {
    width: 800px;
    margin: 0 auto;
    height: 75px;
    line-height: 75px;
    top: 0;
    left: 0;
    position: relative;
}
    header ul {
        position: absolute;
        left: 280px;
        top: 0;
        height: 75px;
        line-height: 75px;
        margin: 0;
    }
        header ul li {
            float: left;
            list-style-type: none;
            cursor: pointer;
        }
            header ul li a {
                color: currentColor;
                text-decoration: none;
                display: inline-block;
            }
            header ul li:after {
                content: "/";
                padding: 0 10px;
                color: #000;
                cursor: default;
            }
            header ul li:last-child:after {
                display: none;
            }
        header ul li.selected {
            color: #1394ee;
        }

    header > a {
        float: right;
        margin-left: 25px;
        color: #1394ee;
        text-decoration: none;
    }
    header img,
    header > a:first-child {
        height: 40px;
        margin-top: 15px;
        float: left;
    }

#position-tabs {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 800px;
    margin: 0 auto;
    display: flexbox;
    display: flex;
    padding: 0;
    border-top: 2px solid #dadada;
    border-bottom: 2px solid #dadada;
    margin-top: 10px;
}
    #position-tabs div {
        flex: 1;
        font-size: 15px;
        text-align: center;
        color: #dadada;
        cursor: pointer;
        padding: 10px 0;
        position: relative;
    }
        #position-tabs .selected {
            color: #1394ee;
        }
        #position-tabs div span {
            display: inline-block;
            margin: 0;
            position: absolute;
            bottom: -25px;
            left:0;
            width: 100%;
        }


.tab-content {
    width: 800px;
    margin: 30px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /*display: none;*/
}
    .tab-content[data-tab="no-peeps"] h1 {
        margin-top: 75px;
    }
    .tab-content:first-child,
    .tab-content.selected {
        display: block;
    }
    .tab-content .candidate {
        width: 175px;
        text-align: center;
        margin: 0 5px;
        position: relative;
    }
        .tab-content img {
            width: 100%;
            display: block;
            height: 175px;

            line-height: 180px;
            font-size: 50px;
            background-color: #d5d5d5;
            color: #1394ee;
        }
        .tab-content .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 175px;
            height: 175px;
            display: block;
            background-color: transparent;
            opacity: 0;
            transition: all 0.2s linear;
        }
        .tab-content .hover-container:hover .overlay {
            opacity: 1;
            background-color: rgba(19, 148, 238, 0.9);
        }
        .overlay a {
            width: 150px;
            padding: 10px 0;
            margin: 6px 0;
            display: inline-block;
            background-color: #fff;
            color: #1394ee;
            text-decoration: none;
            cursor: pointer;
        }
            .overlay a:first-child {
                margin-top: 13px;
            }

        .tab-content p {
            display: none;
        }
        .tab-content h1 {
            font-size: 15px;
            color: #1394ee;
        }
        
#welcome-popup {
    background-color: #fff;
    width: 600px;
    padding: 30px;
    display: none;
}
    #welcome-popup h1 {
        margin: 0;
        font-weight: 400;
    }
    #welcome-popup ol {
        margin: 0 auto;
        width: 460px;
        text-align: left;
    }
    #welcome-popup a {
        color: #1394ee;
        cursor: pointer;
        text-decoration: none;
    }

    #class-options a {
        display: inline-block;
        padding: 10px 0;
        width: 100px;
        margin: 10px 10px 25px;
        border: 1px solid #1394ee;
        background-color: #fff;
        color: #1394ee;
        transition: background-color 0.1s linear;
    }
        #class-options a:hover {
            background-color: #1394ee;
            color: #fff;
        }

html, body {
    overflow: hidden;
}
#countdown {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999999999;
    background-color: #fff;
    text-align: center;
}
    #countdown div {
        position: fixed;
        top: 40%;
        transform: translateY(-50%);
        width: 100%;
    }
    #countdown img {
        height: 40px;
    }
    #countdown h1 {
        margin: 35px auto;
        width: 100%;
        text-align: center;
        font-weight: 400;
        font-size: 50px;
    }
    #countdown p {
        font-size: 12px;
    }
    #countdown a {
        color: #1394ee;
    }

@media all and (max-width: 800px) {
    header {
        text-align: center;
        width: 100%;
        height: auto;
        line-height: 30px;
    }
        header img {
            margin: 15px auto 0 !important;
            float: none;
        }
        header a:last-child {
            display: block;
            float: none;
            position: static;
            margin-left: 0;
        }

    #position-tabs {
        display: block;
        width: 100%;
    }
        #position-tabs div {
            width: auto;
            text-align: center;
            padding: 0 !important;
            margin: 15px auto;
            display: block;
            font-size: 20px;
        }
            #position-tabs div span {
                font-size: 15px;
                bottom: -20px;
                left: -3px !important;
            }
        #position-tabs div:nth-child(2) {
            margin-top: 30px;
        }
    .tab-content {
        width: 100%;
    }
}