@import url(http://fonts.googleapis.com/css?family=Lato:400,700,300,900);
html, body {
    margin: 0;
    font-family: "Lato", sans-serif;
}

header {
    width: 800px;
    margin: 0 auto;
    height: 75px;
    line-height: 75px;
    top: 0;
    left: 0;
    position: relative;
}
    header ul {
        position: absolute;
        left: 280px;
        top: 0;
        height: 75px;
        line-height: 75px;
        margin: 0;
    }
        header ul li {
            float: left;
            list-style-type: none;
            cursor: pointer;
        }
            header ul li a {
                color: currentColor;
                text-decoration: none;
                display: inline-block;
            }
            header ul li:after {
                content: "/";
                padding: 0 10px;
                color: #000;
                cursor: default;
            }
            header ul li:last-child:after {
                display: none;
            }
        header ul li.selected {
            color: #1394ee;
        }

    header > a {
        float: right;
        margin-left: 25px;
        color: #1394ee;
        text-decoration: none;
    }
    header img,
    header > a:first-child {
        height: 40px;
        margin-top: 15px;
        float: left;
    }

#tabs {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 800px;
    margin: 0 auto;
    display: flex;
    padding: 0;
    border-top: 2px solid #dadada;
    border-bottom: 2px solid #dadada;
}
    #tabs div {
        flex: 1;
        font-size: 15px;
        text-align: center;
        color: #dadada;
        cursor: pointer;
        padding: 10px 0;
    }
        #tabs .selected {
            color: #1394ee;
        }

body > div > h1 {
    font-size: 25px;
    font-weight: 400;
}
body > div > span {
    font-size: 20px;
}
    body > div > span a {
        color: #1394ee;
        text-decoration: none;
    }

.tab-content {
    width: 800px;
    margin: 25px auto;
    text-align: center;
}
    .tab-content:first-child,
    .tab-content.selected {
        display: block;
    }

    .tab-content h2 {
        font-size: 18px;
        font-weight: 400;
    }
    .tab-content input {
        display: block;
        width: 500px;
        margin: 0 auto;
    }
    .tab-content select {
        display: block;
        width: 500px;
        margin: 0 auto;
    }
    .tab-content button {
        display: block;
        background-color: #1394ee;
        color: #fff;
        border: none;
        padding: 10px 20px;
        margin: 25px auto;
        cursor: pointer;
    }

input, textarea, select {
    width: 300px;
    height: 40px;
    box-sizing: border-box;
    display: block;
    background-color: transparent;
    color: #333;
    border: 2px solid #1394ee;
    margin: 0 auto;
    font: inherit;
    font-size: 19px;
    padding: 5px;
}
    input[type="submit"] {
        background-color: #1394ee;
        color: #fff;
        transition: all 0.05s linear;
        cursor: pointer;
    }
        input[type="submit"]:hover {
            color: #1394ee;
            background-color: #fff;
        }