@model Dictionary<string, List<LHSCamp.Models.Candidate>>
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <title>LHSCampaign</title>
        <link href="~/Content/Styles/Site/home.css" rel="stylesheet" />
    </head>
    <body>
        <header>
            <img src="~/Content/Images/logo.blue.png" alt="lhs|campaign" id="logo"/>
            <a href="~/SignUp">about</a>
            <a href="~/SignUp">candidate sign in</a>
            <a href="~/SignUp">candidate? sign up</a>
        </header>

        <ul id="position-tabs">
            <li class="selected">idc rep</li>
            <li>social manager</li>
            <li>secretary</li>
            <li>treasurer</li>
            <li>vp</li>
            <li>pres</li>
        </ul>

        @foreach (var position in Model)
        {
            <div class="tab-content" data-tab="@position.Key">
                @foreach (var candidate in position.Value)
                {
                    <article class="candidate" data-id="@candidate.Id">
                        <div class="hover-container">
                            <img src="~/Content/Images/Candidates/@(candidate.ProfilePic)" />

                            <div class="overlay">
                                <a href="#platform">platform info</a>
                                <a href="#add">(+) add picture</a>
                            </div>
                        </div>

                        <p>
                            @candidate.Reasons
                        </p>

                        <h1>@candidate.Name</h1>
                    </article>
                }
            </div>
        }

        <footer>
            <div id="selected-people"></div>
            <a href="~/Profile">profile picture</a>
            <a href="~/Cover">cover photo</a>
        </footer>
    </body>
</html>