@{
    ViewBag.Title = "Index";
}

@section Styles {
    @Styles.Render("~/Content/Styles/Site/Home/picker.less")
    @*@Scripts.Render("~/Content/Scripts/Site/Home/picker.js")*@
}

<ul id="picker-tabs">
    <li class="picker-tab sel-tab" position="Secretary"><div>SECRETARY</div></li>
    <li class="picker-tab" position="Treasurer"><div>TREASURER</div></li>
    <li class="picker-tab" position="Vice President"><div>VICE-PRES.</div></li>
    <li class="picker-tab" position="President"><div>PRESIDENT</div></li>
</ul>

<div id="picker-container">
    <div id="picker-box">

    </div>
</div>
<script type="text/javascript" src="~/Content/Scripts/Site/Home/picker.js"></script>
<script type="text/javascript">
    $(function () {
        var picker = new pickerBox("picker-box");
        $(".picker-tab").click(function () {
            $(".picker-tab").removeClass("sel-tab");
            $(this).addClass("sel-tab");
            picker.switchTo($(this).attr("position"));
        });
        $(".sel-tab").click(); //load the first tab
    });
</script>