@{
    ViewBag.Title = "LHSCampaign";
}

@section Styles {
    @Styles.Render("~/Content/Styles/Bundles/Home/home.less")
    <script type="text/javascript" src="~/Content/Scripts/Flauntly/Wedge/Core.js"></script>
}

<ul id="picker-tabs" class="tabs-list">
    <li class="tab picker-tab sel-tab" data-position="Secretary"><div>SECRETARY</div></li>
    <li class="tab picker-tab" data-position="Treasurer"><div>TREASURER</div></li>
    <li class="tab picker-tab" data-position="Vice President"><div>VICE-PRES.</div></li>
    <li class="tab picker-tab" data-position="President"><div>PRESIDENT</div></li>
</ul>

<div id="picker-container" class="tab-box">
    <div id="picker-box">
    </div>
</div>
<div id="cand-wedge" class="blue">
    <div id="cand-wedge-btns">
        <div id="cand-wedge-close">X</div>
        <div class="cand-wedge-circle" id="gplus-btn">
            <img src="~/Content/Images/Buttons/GooglePlus.png" class="cand-wedge-social" />
        </div>
        <br />
        <div class="cand-wedge-circle" id="facebook-btn">
            <img src="~/Content/Images/Buttons/Facebook.png" class="cand-wedge-social" />
        </div>
    </div>
    <img id="cand-wedge-img" />
    <h2 id="cand-wedge-name"></h2>
    <div id="cand-wedge-position"></div>
    <div id="cand-wedge-email"></div>
    <div id="cand-wedge-actions">
        <button class="standard-btn default-btn" id="cand-wedge-fb" style="margin-bottom:5px;">facebook event</button>
        <button class="standard-btn default-btn" id="cand-wedge-download">download prof. pic</button>
    </div>
    <div id="cand-wedge-content">
        <h2 class="railway-bold">WHY YOU SHOULD VOTE</h2>
        <p id="cand-wedge-reasons"></p>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(function () {
            $(".picker-tab").click(function () {
                $(".picker-tab").removeClass("sel-tab");
                $(this).addClass("sel-tab");
                picker.switchTo($(this).attr("data-position"));
            });
            $(".sel-tab").click(); //load the first tab
            $("#cand-wedge-close").click(function () {
                $("#lightOverlay").click();
            });
            $("#gplus-btn").click(function () {
                window.open("/GPlus");
            });
            $("#facebook-btn").click(function () {
                var candId = $(this).attr("data-cand-id");
                window.open("https://facebook.com/sharer.php?u=" + encodeURIComponent("http://lhscampaign.com/Home?candidate=" + candId), '_new', 'toolbar=0,status=0,width=626,height=436');
            });
            $("#cand-wedge-download").click(function () {
                window.open($("#cand-wedge-img").attr("src"));
            });
            if (window.location.href.indexOf('candidate=') != -1) {
                var candId = window.location.href.split('candidate=')[1].split('&')[0];
                if (candId != null && candId.length > 0) {
                    picker.showWedge(candId);
                }
            }
        });
    </script>
}
