@import "../shared.less";
#header {
    height:75px;
    text-align:left;
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    line-height:75px;
    .blue;
}

#header-cont {
    position:relative;
    width:80%;
    left:10%;
}

#header-nav {
    list-style-type:none;
    position:absolute;
    top:0px;
    margin-top:0px;
    right:0px;

    .medium-font;

    cursor:pointer;

    height:30px;
    line-height:30px;
    margin-top:22.5px; //(75-30) / 2
}

    #header-nav li {
        float:left;
        display:inline-block;
        padding-left:10px;
        padding-right:10px;
        border-right:2px solid #fff;
    }

#content {
    .white;
    margin-top:75px;
    text-align:center;
    .medium-font;
}