@import url(http://fonts.googleapis.com/css?family=Lato:400,700,300,900);
html, body {
    margin: 0;
    font-family: "Lato", sans-serif;
}

header {
    width: 100%;
    margin: 0 auto;
    height: 75px;
    line-height: 75px;
    top: 0;
    left: 0;
    position: relative;
    border-bottom: 1px solid #dadada;
}
    header img {
        margin-left: 25px;
        height: 40px;
        margin-top: 15px;
        float: left;
    }
    header ul {
        height: 75px;
        line-height: 75px;
        float: right;
        margin: 0 25px 0 0;
    }
        header ul li {
            float: left;
            list-style-type: none;
            cursor: pointer;
        }
            header ul li a {
                color: currentColor;
                text-decoration: none;
                display: inline-block;
            }
            header ul li:after {
                content: "/";
                padding: 0 10px;
                color: #000;
                cursor: default;
            }
            header ul li:last-child:after {
                display: none;
            }
        header ul li.selected {
            color: #1394ee;
        }

main {
    width: 900px;
    margin: 15px auto 0;
    display: flex;
    justify-content: space-between;
}
    main #info {
        text-align: right;
        width: 300px;
    }
        main #info h1 {
            font-weight: 400;
            margin-bottom: 0;
        }
        main #info h2 {
            margin-top: 5px;
            font-weight: 300;
            color: #1394ee;
            font-size: 25px;
        }
        main #info img {
            height: 175px;
            width: 175px;
            display: block;
            float: right;
        }
        main #info a {
            display: inline-block;
            clear: both;
            color: #fff;
            background-color: #1394ee;
            text-decoration: none;
            padding: 10px;
            margin-top: 10px;
            transition: background-color 0.1s linear;
            cursor: pointer;
        }
            main #info a:hover {
                background-color: #137ec8;
            }

    main > .tab {
        display: none;
        width: 550px;
    }
        main > .tab.selected {
            display: block;
        }
        main p {
            color: #888888;
        }

footer {
    width: 100%;
    height: 75px;
    position: fixed;
    left: 0;
    bottom: 0;
    border-top: 1px solid #dadada;
    background-color: #fff;
}
    body {
        padding-bottom: 75px;
    }
    #selected-people img {
        height: 60px;
        margin-top: 7.5px;
        float: left;
        margin-left: 10px;
        cursor: pointer;
    }
    footer a {
        float: right;
        height: 75px;
        line-height: 75px;
        margin-right: 15px;
        text-decoration: none;
        color: #1394ee;
    }