@blue-color: #44A0C8;
@darkblue-color: #40809C;
@item-hover-blue: #44A0C8;
@gray-color: #DBDBDB;
@small-font:20px;
@medium-font: 25px;
@large-font: 40px;

.circle(@size) {
    height:@size;
    width:@size;
    border-radius:@size / 2;
}

.half-vert() {
    position:relative;
    /* Thanks! http://creative-punch.net/2014/01/center-vertically-horizontally-using-css3-transform/ */
    top:50%;
    /* but ewe. should use prefix-free */
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.half-horiz() {
    position:relative;
    left:50%;
    /* but ewe. should use prefix-free */
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}