@import "lib.less";
body, html {
    width:100%;
    margin:0px;
    font-family:'Railway';
}

.half-horiz {
    .half-horiz();
}

.half-vert {
    .half-vert();
}


.blue {
    background-color:@blue-color;
    color:#fff;
}

.white {
    background-color:#fff;
    color:@blue-color;
}

.red {
    color:#ff0000;
}

.small-font {
    font-size:@small-font;
}

.medium-font {
    font-size:@medium-font;
}

.large-font {
    font-size:@large-font;
}

.default-btn, .blue-btn {
    background-color:@blue-color;
    color:#fff;
    width:250px;
    height:50px;
    font-size:@medium-font;
    border:2px solid #fff;
    border-radius:5px;
    cursor:pointer;
    font-family:'Railway-light';
}
    .default-btn:hover {
        background-color:#fff;
        color:@blue-color;
        border-radius:5px;
    }

.white-btn {
    background-color:#fff;
    color:@blue-color;
}
    .white-btn:hover {
        background-color:@blue-color;
        color:#fff;
    }

.default-input {
    background-color:@blue-color;
    color:#fff;
    border: 2px solid #fff;
    border-radius:5px;
    width:250px;
    height:40px;
    .medium-font;
}

.standard-input {
    width:325px;
    font-family:'Railway-light';
    margin-bottom:10px;
    text-align:center;
}

.link {
    cursor:pointer;
}

.nunderline {
    text-decoration:none;
    color:#fff;
}

//Thanks! http://davidwalsh.name/html5-placeholder-css

::-webkit-input-placeholder { color:#fff; }
::-moz-placeholder { color:#fff; } /* firefox 19+ */
:-ms-input-placeholder { color:#fff; } /* ie */
//Nightly seems to recognize this, but it still shows it as gray -.-
input::-moz-placeholder { color: #fff; }