@{
    Layout = "~/Views/Shared/_BasicLayout.cshtml";
}
@section Styles{
    <!-- Thanks! http://stackoverflow.com/questions/6769336/how-can-i-know-if-a-non-required-rendersection-exists -->
    @if (IsSectionDefined("Styles")) {
        @RenderSection("Styles", false)
    }
    else {
        @Styles.Render("~/Content/Styles/Bundles/layout.less")
    }
}
@RenderBody()
@section Scripts {
    @RenderSection("Scripts", false)
    <script type="text/javascript">
        $(function () {
            picker.updateChosenPreviews();
        });
    </script>
}
@section Footer {
    <div id="footer-items">
        <ul id="chosen-previews"></ul>
        <a href="~/CreatePhoto/Cover" class="nunderline">
            <div class="create-img-btn" id="create-cover-btn">COVER<br />PHOTO</div>
        </a>
        <a href="~/CreatePhoto/Profile" class="nunderline">
            <div class="create-img-btn" id="create-profile-btn">PROFILE<br />PICTURE</div>
        </a>
    </div>
    <div id="footer-noitems" class="medium-font">
        Empty. Click the "+" sign to add a profile picture
    </div>
}